body{
    background-color:#e4f3eb;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    transition: 0.4s;
    color: green;
}
.header{
    padding: 1rem;
}
.header img{
    width: 20%;
    height: auto;
    float: left;
}

.hamburger-menu{
    position: absolute;
    right: 2%;
    font-size: 1.8rem;
    padding-right: 0.5rem;
    color:#085B20;
    cursor: pointer;
}

#floating-menu{
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(0,0,0,0.7);
    transition: 0.5s;
}
#floating-content{
    display: none;
    color:white;
    position: relative;
    top: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
#floating-content li{
    text-align: center;
    list-style-type: none;
    padding: 0.3rem;
}
.body-content{
    margin-top: 3rem;
}
#carousel{
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    width : 50rem;
    margin: auto;
}

.carousel-img{
    text-align: center;
    margin: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.left-control{
    width: 5%;
    font-size: 3.5rem;
    transform: translate(-4px,45%);
}
.right-control{
    width: 5%;
    font-size: 3.5rem;
    transform: translate(4px,45%);
}
.right-control i{
    cursor: pointer;
}
.left-control i{
    cursor: pointer;
}
.carousel-img img{
    width: 100%;
}
#about{
    padding-left: 8rem;
    padding-right: 8rem;
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}
#about h1{
    text-align: center;
    align-items: center;
}

#about img{
    display:block;
    margin: auto;
    width: 60%;
}

#available{
    font-family: 'Open Sans', sans-serif;
    padding: 3rem;
}

#available h1{
    text-align: center;
}

#available h2{
    text-align: center;
}
.availableP{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#weather-widget{
    display: flex;
    margin: auto;
}

.period{
    width: 25%;
    background-color: whitesmoke;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.widget-header{
    margin: 0.5rem;
    font-size: 1.3rem;
}

.widget-temperature{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.widget-detail{
    padding: 0.5rem;
    font-size: rem;
}

#footer{
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
}